.cache
.gnupg
.mozilla
area
arh
res
proj
.Xauthority
.viminfo
.config/pulse/cookie
.config/rustup/
.config/shell/shortcutrc
.config/shell/zshnameddirrc
.config/zsh/.zcompdump*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/lazygit
.local/share/cargo
.local/share/nvim
.local/share/password-store
.local/share/task
.local/share/tmux
.local/share/xorg
.local/share/oh_my_zsh
.local/src
.local/state

