[submodule ".local/bin"]
	path = .local/bin
	url = https://github.com/vlagh3/scripties.git
[submodule ".local/share/init_install/alis"]
	path = .local/share/init_install/alis
	url = https://github.com/vlagh3/alis.git
[submodule ".local/share/startupB"]
	path = .local/share/startupB
        url = https://github.com/vlagh3/dawn.git
